* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --thick: 1px;
    --black: #030707;
    --gray: #c5c5c5;
}

@font-face {
    font-family: Quant;
    src: url(./assets/fonts/Fontspring-DEMO-QuantReg.otf);
}

@font-face {
    font-family: Vaz;
    src: url(./assets/fonts/Vazirmatn.ttf);
}

body {
    margin-top: 4em;
    margin-left: 4em;
    margin-right: 2em;
    overflow-x: hidden;
}

h1 {
    font-size: 8em;
    font-family: Quant;
    font-weight: 400;
    line-height: 1.2em;
}

main h1 section {
    display: block;
    width: fit-content;
    height: fit-content;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

main h1 section:nth-of-type(1) div {
    transform: translateY(100%);
    animation: frameIn 0.5s linear forwards;
}

main h1 section:nth-of-type(2) div {
    transform: translateY(100%);
    animation: frameIn 0.8s linear forwards;
}

@keyframes slideTop {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

main span {
    margin: 2em 0;
    display: block;
}

main span p {
    color: var(--gray);
    font-size: 1.1em;
    font-family: Vaz;
}

main span p:nth-of-type(1) {
    opacity: 0;
    transform: translateY(100%);
    animation: frameIn .8s linear forwards;
}

main span p:nth-of-type(2) {
    opacity: 0;
    transform: translateY(100%);
    animation: frameIn 1.2s linear forwards;
}

main span p:nth-of-type(3) {
    opacity: 0;
    transform: translateY(100%);
    animation: frameIn 1.5s linear forwards;
}

main button {
    border-radius: 100px;
    border: none;
    font-size: 1.1em;
    padding: 0.8em 2.5em;
    text-transform: uppercase;
    font-family: Vaz;
    font-weight: 400;
    color: white;
    position: relative;
    background: var(--black);
}

nav {
    font-family: Vaz;
}

nav .logo {
    font-size: 2em;
    color: var(--black);
    font-weight: bolder;
    width: fit-content;
    height: fit-content;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

nav .logo span {
    opacity: 0;
    display: inline-block;
    transform: translateX(100%);
    animation: slideIn 0.4s linear forwards;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100%  {
        opacity: 1;
        transform: translateX(0%);
    }
}

nav a {
    margin: 0 2.5em;
    color: #4e4e4e;
    text-decoration: none;
}

nav a.active {
    color: var(--black);
    font-weight: bolder;
}

nav .navigations {
    opacity: 0;
    overflow: hidden;
    transform: translateY(70%);
    animation: frameIn 1s linear forwards;
}

nav .menu .line {
    opacity: 0;
    width: 25px;
    height: 2px;
    margin: 3px;
    background: var(--black);
    transform: translateX(100%);
    animation: slideIn .4s linear forwards;
    animation-delay: 0.3s;
}

main {
    bottom: 0;
    width: 100%;
    height: 80vh;
    gap: 2em;
    overflow: hidden;
    position: absolute;
}

.content {
    width: 50%;
}

.product-view {
    width: 100%;
    position: relative;
    transform: translateX(120%);
    animation: slideIn 1s linear forwards;
}

.bicycle {
    width: 100%;
    height: 100vw;
}

.bicycle .image {
    height: 100%;
    position: absolute;
}

.bicycle .image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
}

.bicycle .image:nth-of-type(1) {
    z-index: 11;
}

.bicycle .image:nth-of-type(2) {
    z-index: -11;
}

.rim {
    left: 8%;
    margin: 0;
    bottom: 0;
    height: 14%;
    overflow: hidden;
    width: fit-content;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    transform: translateX(-50%);
}

.rim-rotate {
    height: 150vh;
    aspect-ratio: 1/1;
    width: fit-content;
    transform-origin: center;
    transform: rotate(-40deg);
    animation: rotate 1s linear forwards;
}

.rim img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.247));
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-160deg);
    }
}

.menu .line:nth-of-type(2) {
    width: 17px;
    animation-delay: 0.5s;
}

.menu .line:nth-of-type(3) {
    animation-delay: 0.7s;
}


@keyframes frameIn {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.hr {
    position: absolute;
    pointer-events: none;
}

.hr.y,
.hr.x {
    top: 0;
    height: 0;
    width: var(--thick);
    background: var(--gray);
    transform: translateX(-50%);
}

.hr.x {
    top: auto;
    left: -4em;
    width: calc(0vw + 4em);
    position: fixed;
    height: var(--thick);
    transform: translateY(0%);
}

.hr.y:nth-child(1) {
    left: 30%;
    height: 0%;
    animation: yHeight 0.6s linear forwards;
    animation-delay: 1s;
}

.hr.y:nth-child(2) {
    left: 55%;
    height: 0%;
    animation: yHeight 0.6s linear forwards;
    animation-delay: 1.2s;
}

.hr.y:nth-child(3) {
    left: 90%;
    height: 0%;
    animation: yHeight 0.5s linear forwards;
    animation-delay: 1.3s;
}

.hr.x:nth-of-type(1) {
    width: calc(0vw + 4em);
    animation: xWidth 0.6s linear forwards;
    animation-delay: 1s;
    margin-top: -1em;
}

.hr.x:nth-of-type(2) {
    width: calc(0vw + 4em);
    animation: xWidth 0.7s linear forwards;
    animation-delay: 1s;
    margin-top: 1em;
}

@keyframes yHeight {
    from {
        height: 0%;
    }
    to {
        height: 100%;
    }
}

@keyframes xWidth {
    from {
        width: calc(0vw + 4em);
    }
    to {
        width: calc(100vw + 4em);
    }
}