* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --thick: 1px;
    --black: #030707;
    --gray: #E5E5E5;
}

@font-face {
    font-family: Quant;
    src: url(./assets/fonts/Fontspring-DEMO-QuantReg.otf);
}

@font-face {
    font-family: Vaz;
    src: url(./assets/fonts/Vazirmatn.ttf);
}

body {
    margin-top: 4em;
    margin-left: 4em;
    margin-right: 2em;
}

h1 {
    font-size: 6em;
    font-family: Quant;
    font-weight: 100;
}

nav {
    font-family: Vaz;
}

nav a {
    margin: 0 2.5em;
    color: #C8C8C8;
    text-decoration: none;
}

nav a.active {
    color: var(--black);
    font-weight: bolder;
}

.hr {
    position: absolute;
    pointer-events: none;
}

.hr.y,
.hr.x {
    top: 0;
    height: 0;
    width: var(--thick);
    background: var(--gray);
    transform: translateX(-50%);
}

.hr.x {
    left: 0;
    width: 100vw;
    height: var(--thick);
    transform: translateY(-50%);
}

.hr.y:nth-child(1) {
    left: 25%;
    height: 0%;
    animation: yHeight 0.6s linear forwards;
    animation-delay: 1s;
}

.hr.y:nth-child(2) {
    left: 53%;
    height: 0%;
    animation: yHeight 0.6s linear forwards;
    animation-delay: 1.2s;
}

.hr.y:nth-child(3) {
    left: 90%;
    height: 0%;
    animation: yHeight 0.5s linear forwards;
    animation-delay: 1.3s;
}

.hr.x:nth-of-type(4) {
    top: 60%;
    width: 0vw;
    animation: xWidth 0.6s linear forwards;
    animation-delay: 1s;
}

.hr.x:nth-of-type(5) {
    top: 70%;
    width: 0vw;
    animation: xWidth 0.7s linear forwards;
    animation-delay: 1s;
}

@keyframes yHeight {
    from {
        height: 0%;
    }
    to {
        height: 100%;
    }
}

@keyframes xWidth {
    from {
        width: 0vw;
    }
    to {
        width: 100vw;
    }
}